@tailwind base;
@tailwind components;
@tailwind utilities;
.slide {
  animation: slideAnimation 5s linear infinite;
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
